.loader{
    width: 32px;
    height: 90px;
    display: block;
    position: relative;
    background-color: #fff;
    border-bottom: 10px solid #ff3d00;
    border-radius: 50% 50% 0 0;
    background-image: radial-gradient(ellipse at center, #fff 34%, #ff3d00 35% , #ff3d00 54%, #fff 55%), 
    linear-gradient(#ff3d00 10px, transparent 0);
    background-size: 28px 28px;
    background-position: center 20px, center 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 20px auto;
    animation: animloaderBack 1s linear infinite alternate;
    margin-bottom: 300px;
}
.h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.loader::before{
    content: '';
    width: 64px;
    height: 44px;
    box-shadow: 0px 15px #ff3d00 inset;
    box-sizing: border-box;
    position: absolute;
    top: 67px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.loader::after{
    content: '';
    width: 34px;
    height: 34px;
    background:radial-gradient(ellipse at center, #ffdf00 8%, #f93e0099 24%, #00000000 100%);
    position: absolute;
    left: 50%;
    top: 112%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 50% 50% 0;
    background-repeat: no-repeat;
    background-position: -44px -44px;
    background-size: 100px 100px;
    box-shadow: 4px 4px 12px 0px #ff3d0080;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}
@keyframes animloaderBack{
    0%,
    30%,
    70%{
        transform: translateY(0px);
    }
    20%,
    40%,
    100%{
        transform: translateY(-5px);
    }
}
@keyframes animloader{
    0%{
        width: 34px;
        height: 34px;
        box-shadow: 4px 4px 12px 2px #ff3d00bf;
        background-position: -44px -44px;
        background-size: 100px 100px;
    }
    100%{
        width: 30px;
        height: 28px;
        box-shadow: 2px 2px 8px 0px #ffed0080;
        background-position: -36px -36px;
        background-size: 80px 80px;
    }
}